Button.closeButton {
  background-color: transparent;
  border-color: transparent;
  color: gray;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  top: 10;
  right: 0;
}

Button.closeButton:hover {
  background-color: transparent;
  border-color: transparent;
  color: rgb(46, 45, 45);
}

Button.saveButton {
  background-color: #abcfd8;
  border-color: transparent;
}
Button.saveButton:hover {
  background-color: #abcfd8;
  border-color: transparent;
  color: rgb(46, 45, 45);
}

.checkbox {
  align-items: center;
  width: 20px;
  height: 20px;
  margin-top: 16px;
  margin-left: 20px;
}
.modal-body {
  margin-bottom: 1rem;
}

button.swal2-styled.swal2-confirm {
  background-color: #abcfd8;
}

div.swal2-icon.swal2-warning {
  border-color: #ca321e;
  color: #ca321e;
}

@media (max-width: 767px) {
  .modal {
    margin-top: 5rem;
  }
  .checkbox {
    margin-left: 0%;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    margin-top: 5rem;
  }
}
